<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="ms.pagetype" content="search" />
    <meta name="ms.sitename" content="DOCS" />
    {{ metadata }}
    {% if page._op_canonicalUrl != null %}<link href="{{ page._op_canonicalUrl }}" rel="canonical">{% endif %}
    <title>{{ page.title }}</title>
    {% style css\6cc1d6c9cf47a7f6c329.searchpage.css %}
  </head>
  <body>
    {% include header.html %}
    <div ms.pgarea="body">
      <article id="main" class="container search-page">
          <h1></h1>
          <div id="search-results"></div>
          <div id="search-paging">
              <ul></ul>
          </div>
          {{ content }}
      </article>      
    </div>
    <div id="footerWrapper"></div>
    {% js javascript\6cc1d6c9cf47a7f6c329.searchpage.js %}
  </body>
</html>
